$AnchoImgCent:38vh;
$MargenImgCent:20vh;
$TamImgPerso: 540px;

@import "medias";

//--------------------css cajas de texto----------------------
.text{
    margin-top: 5vh;
    margin-left: 34px;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y:visible;
    width: 25vh;
    height: 40vh;
}
.textLibro1{
    @extend .text;
}
.textLibro2{
    @extend .text;
}
.textLibro3{
    @extend .text;
}
//-----------------------------------Query index-----------------------------------------
#imgPrini{
    @include tablet{ 
        margin-top: $MargenImgCent+15;
        width:$AnchoImgCent+10;
    }
}
#span1{
    @include tablet{ 
        margin-top: 29vh;
        margin-left: 12vh;
        font-size: 60px;
    }
}
#span2{
    @include tablet{ 
        margin-top: 29vh;
        margin-left: 28vh;
        font-size: 60px;
    }
}
#span3{
    @include tablet{
        margin-top: 62vh;
        margin-left: 10vh;
        font-size: 60px;
    }
}
.text{
    @include tablet{
        width: 35vh;
        height: 24vh;
        margin-left: 9vh;
        margin-top: 8vh;

    }
}
//-----------------------------------Query libro 1-----------------------------------------
#imgPrin1{
    @include tablet{ 
        margin-top: $MargenImgCent+5;
        width: $AnchoImgCent+10;
    }
}
#span1T1{
    @include tablet{ 
        margin-top: 12vh;
        margin-left: 17vh;
        font-size: 60px;
    }
}
#span3T1{
    @include tablet{
        margin-top: 55vh;
        margin-left: 18vh;
        font-size: 60px;
    }
}
#accordionExample1{
    @include tablet{
        width: 35vh;
        height: 24vh;
        margin-left: 14vh;
        margin-top: 8vh;
    }
}

//------------------------------------Query libro 2--------------------------------------------
#imgPrin2{
    @include tablet{ 
        margin-top: $MargenImgCent;
        width: $AnchoImgCent;
    }
}
#span1T2{
    @include tablet{ 
        margin-top: 12vh;
        margin-left: 7vh;
        font-size: 60px;
    }
}
#span2T2{
    @include tablet{ 
        margin-top: 61vh;
        margin-left: 10vh;
        font-size: 60px;
    }
}

.textLibro2{
    @include tablet{ 
        width: 35vh;
        height: 24vh;
        margin-left: 4vh;
        margin-top: 8vh;
    }
}
.cotLisDe{
    li{
        @include tablet{
            font-size: 25px;
        }
    }
}
.cotLisIzq{
    h6{
        @include tablet{ 
            font-size: 30px;
        }
    }
    @extend .cotLisDe;
    
}
//------------------------------------Query libro 2--------------------------------------------
#imgPrin3{
    @extend #imgPrin1;
}
#span1T3{
   @extend #span1T1;
}
#span2T3{
    @include tablet{
        margin-top: 64vh;
        margin-left: 18vh;
        font-size: 60px;
    }
}









//------------------------------------query Personajes----------------------------------
.cotCentroPers{
    @include tablet{
        grid-template-columns: 1fr 1fr;
        width: 50vh;
        height: 90vh;
        
    }  
}
.cotCentroPers h3{
    @include tablet{
       margin-top: 10vh;
       color: black;
       font-size: 28px;
       font-weight: bold;
       text-shadow: 2px 2px rgb(140, 207, 16);
    }
 }
#divh3{
    @include tablet{
        background-color: whitesmoke;
        border-radius:25px ;
        margin-top: 5px;
        width: 12rem;
        height: 30vh;
        border-width: 10px;
        border-color: black;
        border-style: double;
     }
}
//------------------------------------query Premios----------------------------------
.cotCentroPrem{
    @include tablet{
       margin: 20px;
       width: 80vh;
     }
}
